services:
  broker:
    image: redis:8-alpine
    restart: unless-stopped
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - redis-broker:/data
      - ./etc/redis.conf:/usr/local/etc/redis/redis.conf
    #sysctls:
    #  - net.core.somaxconn=511
    networks:
      - warehouse-backend

  flower:
    #image: mher/flower
    build:
      dockerfile: ./docker/transform/Dockerfile
      context: .
    networks:
      - warehouse-backend
    ports:
      - "127.0.0.1:5555:5555"
    depends_on:
      - broker
      - celery
    volumes:
      - ./data/results:/var/celery/results
    environment:
      #CELERY_BROKER_URL: redis://broker:6379/0
      #CELERY_RESULT_BACKEND: 'file:///var/celery/results'
      #FLOWER_PERSISTENT: True
      CELERY_RESULT_BACKEND: redis://broker:6379/0
      #CELERY_TASK_TRACK_STARTED: True
    command:
      [
        'celery',
        #'--app',
        #'tasks',
        "--broker=redis://broker:6379/0",
        'flower',
        '--address=0.0.0.0',
        '--loglevel=debug',
        "--persistent=True",
        "--db=flower"
        #'--without-heartbeat'
        #"--address=0.0.0.0",
        #"--port=5555"
      ]

  celery:
    build:
      dockerfile: ./docker/transform/Dockerfile
      context: .
    networks:
      - warehouse-backend
    depends_on:
      - broker
    command:
      ["celery",
       "-A",
       "tasks",
       "worker",
       "--loglevel=INFO"
      ]
    volumes:
      - ./data/results:/var/celery/results
    environment:
      CELERY_BROKER_URL: redis://broker:6379/0
      #CELERY_RESULT_BACKEND: 'file:///var/celery/results'
      CELERY_RESULT_BACKEND: redis://broker:6379/0

  transform:
    build:
      dockerfile: ./docker/transform/Dockerfile
      context: .
    command: python3 transform.py
    networks:
      - warehouse-backend
    environment:
      CELERY_BROKER_URL: redis://broker:6379/0
      #CELERY_RESULT_BACKEND: 'file:///var/celery/results'
      CELERY_RESULT_BACKEND: redis://broker:6379/0
    depends_on:
      - postgres
      - opensearch
      - broker

  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: "${POSTGRES_ADMIN}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - warehouse-backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      PGADMIN_DEFAULT_EMAIL: "${PGADMIN_ADMIN}"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_DEFAULT_PASSWORD}"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks:
      - warehouse-backend

  opensearch:
    restart: unless-stopped
    image: opensearchproject/opensearch:3.1.0
    networks:
      - warehouse-backend
    environment:
      discovery.type: single-node
      bootstrap.memory_lock: 'true'
      OPENSEARCH_JAVA_OPTS: -Xms512m -Xmx512m
      cluster.name: opensearch-cluster
      plugins.security.disabled: 'true'
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: ${OPENSEARCH_INITIAL_ADMIN_PASSWORD}
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data

  opensearch-dashboards:
    restart: unless-stopped
    image: opensearchproject/opensearch-dashboards:3.1.0
    environment:
      - OPENSEARCH_HOSTS=["http://opensearch:9200"]
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
    volumes:
      - opensearch-dashboards-data:/usr/share/opensearch-dashboards/data
    depends_on:
      - opensearch
    networks:
      - warehouse-backend
volumes:
  postgres-data:
  pgadmin-data:
  opensearch-data:
  opensearch-dashboards-data:
  redis-broker:

networks:
  warehouse-backend: