POSTGRES_ADMIN=test
POSTGRES_PASSWORD=test
POSTGRES_DB=testdatasetdb
FILE_DB=testfiledb
POSTGRES_ADDRESS=
POSTGRES_PORT=
OPENSEARCH_ADDRESS=
OPENSEARCH_PORT=
PGADMIN_ADMIN=admin@example.com
PGADMIN_DEFAULT_PASSWORD=pwd
OPENSEARCH_INITIAL_ADMIN_PASSWORD=q3ofk0*4^9QtRY
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5 # https://qdrant.github.io/fastembed/examples/Supported_Models/
EMBEDDING_DIMS=384 # depends on EMBEDDING_MODEL
INDEX_NAME=test_index
TRANSFORM_BATCH_SIZE=250

# Airflow. Throwaway secrets, this file is only ever used by CI
AIRFLOW_ADMIN=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
RABBITMQ_ADMIN=airflow
RABBITMQ_PW=airflow
AIRFLOW_WORKER_CONCURRENCY=2
AIRFLOW_PARALLELISM=2
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=1_0wkO7dYpYoFF-2ZWxdbssGsyd-FSc6jBjRLpgKDkE=
AIRFLOW_JWT_SECRET=7506779ec29d33d78ac5965ef1a6f70d7b3d0005d272e00796450bba80833333
ENVIRONMENT= # production/staging/dev/local
WAREHOUSE_API_URL=
