POSTGRES_ADMIN=admin
POSTGRES_PASSWORD=test
POSTGRES_DB=datasetdb
FILE_DB=filedb
POSTGRES_ADDRESS=
POSTGRES_PORT=
OPENSEARCH_ADDRESS=
OPENSEARCH_PORT=
PGADMIN_ADMIN=admin@example.com
PGADMIN_DEFAULT_PASSWORD=pwd
OPENSEARCH_INITIAL_ADMIN_PASSWORD=q3ofk0*4^9QtRY
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5 # https://qdrant.github.io/fastembed/examples/Supported_Models/
EMBEDDING_DIMS=384 # depends on EMBEDDING_MODEL
INDEX_NAME=test_datacite
CELERY_BATCH_SIZE=250
EMBED_API_URL=https://llm.ai.egi.eu/v1/embeddings
ENVIRONMENT= # production/staging/dev/local

TOOL_DB=tooldb
TOOL_DB_USER=${POSTGRES_ADMIN}
TOOL_DB_PASSWORD=${POSTGRES_PASSWORD}

# Switching between production, development and demo for EGI checkin endpoints
EGI_CHECKIN_ENV=development

RABBITMQ_ADMIN=celery
RABBITMQ_PW=celery


# Docker address of transformer, used by Crawler
WAREHOUSE_API_URL=http://transform:80
