POSTGRES_ADMIN=admin
POSTGRES_PASSWORD=test
PGADMIN_ADMIN=admin@example.com
PGADMIN_DEFAULT_PASSWORD=pwd
OPENSEARCH_INITIAL_ADMIN_PASSWORD=q3ofk0*4^9QtRY
EMBEDDING_MODEL=snowflake/snowflake-arctic-embed-xs # https://qdrant.github.io/fastembed/examples/Supported_Models/
EMBEDDING_DIMS=384 # depends on EMBEDDING_MODEL
INDEX_NAME=test_datacite
