POSTGRES_ADMIN=admin
POSTGRES_PASSWORD=test
POSTGRES_ADDRESS=
POSTGRES_PORT=
OPENSEARCH_ADDRESS=
OPENSEARCH_PORT=
PGADMIN_ADMIN=admin@example.com
PGADMIN_DEFAULT_PASSWORD=pwd
OPENSEARCH_INITIAL_ADMIN_PASSWORD=q3ofk0*4^9QtRY
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5 # https://qdrant.github.io/fastembed/examples/Supported_Models/
EMBEDDING_DIMS=384 # depends on EMBEDDING_MODEL
INDEX_NAME=test_datacite
CELERY_BATCH_SIZE=250
FASTEMBED_CACHE_PATH=/tmp/fastembed_cache
FASTEMBED_LOCAL_MODEL=0
