ENCRYPTION_KEY=generate with `openssl rand -hex 32`
POSTGRES_PASSWORD=postgrespass
DATABASE_URL=postgresql://postgres:postgrespass@postgres:5432/postgres
CLICKHOUSE_PASSWORD=clickhousepass
NEXTAUTH_SECRET=mysecret
REDIS_AUTH=myredissecret
MINIO_ROOT_PASSWORD=miniosecret

AUTH_CUSTOM_ISSUER=
AUTH_CUSTOM_CLIENT_ID=
AUTH_CUSTOM_CLIENT_SECRET=
# AUTH_DISABLE_SIGNUP=true
# AUTH_CUSTOM_ALLOW_ACCOUNT_LINKING=false
